body{background-color:#71cceb;}
h1{color:#7fffd4;}
h1{font-family:"Brush Script MT", cursive;}
h1{text-shadow:6px 5px 4px #adf7de;}
h2{color:SlateBlue;}
h2{font-family:"Lucida Handwriting", cursive;}
h2{text-shadow:5px 4px 3px #7b6ecc;}
h3{color:#0335fc;}
h3{font-family:Garamond, serif;}
h3{text-shadow:3px 2px 1px #6b88fa;}
.p1{font-family:"Trebuchet MS", Helvetica, sans-serif;}
.p1{text-shadow: 3px 3px 3px #8a8484;}
.li1{font-family:Sofia, sans-serif;}
.li1{text-shadow:3px 3px 3px #8a8484;}
.p2{font-family:Sofia, sans-serif;}
.p2{text-shadow:4px 4px 4px #8a8484;}
.li2{font-family:Audiowide, sans-serif;}
.li2{text-shadow:4px 4px 4px #8a8484;}
.li3{font-family:Verdana, sans-serif;}
.li3{text-shadow:3px 3px 3px #8a8484;}